# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python files
# =========================
*.pyc
tags
.dsg_tools.py.swp

# LINUX
# =========================
.directory

# IDE
# =========================
.project
.pydevproject
.vscode/

# DSGTools styles
# =========================
Styles/
LayerTools/CustomFormTools/formsCustom

# DSGTools conversion maps
# =========================
gui/DatabaseTools/ConversionTools/conversion_map.json

# Built files
# =========================
gui/AboutAndFurtherInfo/ui_about_.ui

# Caching formats and other file handling temporary files
# =========================
*.xsd
*.gpkg-shm
*.gpkg-wal
cmd/__pycache__/
__pycache__/
__pycache__/qad_arc.cpython-37.pyc
__pycache__/qad_arc.cpython-37.pyc
__pycache__/qad_array_fun.cpython-37.pyc
__pycache__/qad_cacheareas.cpython-37.pyc
__pycache__/qad_circle_fun.cpython-37.pyc
__pycache__/qad_circle.cpython-37.pyc
__pycache__/qad_cmd_aliases.cpython-37.pyc
__pycache__/qad_commands.cpython-37.pyc
__pycache__/qad_dim.cpython-37.pyc
__pycache__/qad_dimstyle_details_dlg.cpython-37.pyc
__pycache__/qad_dimstyle_diff_dlg.cpython-37.pyc
__pycache__/qad_dimstyle_dlg.cpython-37.pyc
__pycache__/qad_dimstyle_new_dlg.cpython-37.pyc
__pycache__/qad_dsettings_dlg.cpython-37.pyc
__pycache__/qad_dynamicinput.cpython-37.pyc
__pycache__/qad_ellipse_arc.cpython-37.pyc
__pycache__/qad_ellipse.cpython-37.pyc
__pycache__/qad_extend_trim_fun.cpython-37.pyc
__pycache__/qad_fillet_fun.cpython-37.pyc
__pycache__/qad_geom_relations.cpython-37.pyc
__pycache__/qad_grip.cpython-37.pyc
__pycache__/qad_gripcolor_dlg.cpython-37.pyc
__pycache__/qad_highlight.cpython-37.pyc
__pycache__/qad_join_fun.cpython-37.pyc
__pycache__/qad_label.cpython-37.pyc
__pycache__/qad_line.cpython-37.pyc
__pycache__/qad_maptool.cpython-37.pyc
__pycache__/qad_mbuffer_fun.cpython-37.pyc
__pycache__/qad_msg.cpython-37.pyc
__pycache__/qad_multi_geom.cpython-37.pyc
__pycache__/qad_offset_fun.cpython-37.pyc
__pycache__/qad_options_dlg.cpython-37.pyc
__pycache__/qad_polyline.cpython-37.pyc
__pycache__/qad_rightclick_dlg.cpython-37.pyc
__pycache__/qad_rubberband.cpython-37.pyc
__pycache__/qad_shortcuts.cpython-37.pyc
__pycache__/qad_snapper.cpython-37.pyc
__pycache__/qad_snappointsdisplaymanager.cpython-37.pyc
__pycache__/qad_stretch_fun.cpython-37.pyc
__pycache__/qad_textwindow.cpython-37.pyc
__pycache__/qad_ui_textwindow.cpython-37.pyc
__pycache__/qad_undoredo.cpython-37.pyc
__pycache__/qad_variables.cpython-37.pyc
__pycache__/qad_vertexmarker.cpython-37.pyc
__pycache__/qad_windowcolor_dlg.cpython-37.pyc
cmd/__pycache__/qad_arc_cmd.cpython-37.pyc
cmd/__pycache__/qad_arc_maptool.cpython-37.pyc
cmd/__pycache__/qad_array_cmd.cpython-37.pyc
cmd/__pycache__/qad_break_cmd.cpython-37.pyc
cmd/__pycache__/qad_circle_cmd.cpython-37.pyc
cmd/__pycache__/qad_circle_maptool.cpython-37.pyc
cmd/__pycache__/qad_copy_cmd.cpython-37.pyc
cmd/__pycache__/qad_dim_cmd.cpython-37.pyc
cmd/__pycache__/qad_dim_maptool.cpython-37.pyc
cmd/__pycache__/qad_dimstyle_cmd.cpython-37.pyc
cmd/__pycache__/qad_divide_cmd.cpython-37.pyc
cmd/__pycache__/qad_dsettings_cmd.cpython-37.pyc
cmd/__pycache__/qad_ellipse_cmd.cpython-37.pyc
cmd/__pycache__/qad_entsel_cmd.cpython-37.pyc
cmd/__pycache__/qad_erase_cmd.cpython-37.pyc
cmd/__pycache__/qad_extend_cmd.cpython-37.pyc
cmd/__pycache__/qad_fillet_cmd.cpython-37.pyc
cmd/__pycache__/qad_fillet_maptool.cpython-37.pyc
cmd/__pycache__/qad_generic_cmd.cpython-37.pyc
cmd/__pycache__/qad_help_cmd.cpython-37.pyc
cmd/__pycache__/qad_id_cmd.cpython-37.pyc
cmd/__pycache__/qad_joindisjoin_cmd.cpython-37.pyc
cmd/__pycache__/qad_lengthen_cmd.cpython-37.pyc
cmd/__pycache__/qad_lengthen_maptool.cpython-37.pyc
cmd/__pycache__/qad_line_cmd.cpython-37.pyc
cmd/__pycache__/qad_lvdb_cmd.cpython-37.pyc
cmd/__pycache__/qad_lvoh_cmd.cpython-37.pyc
cmd/__pycache__/qad_lvug_cmd.cpython-37.pyc
cmd/__pycache__/qad_mapmpedit_cmd.cpython-37.pyc
cmd/__pycache__/qad_mbuffer_cmd.cpython-37.pyc
cmd/__pycache__/qad_mirror_cmd.cpython-37.pyc
cmd/__pycache__/qad_move_cmd.cpython-37.pyc
cmd/__pycache__/qad_offset_cmd.cpython-37.pyc
cmd/__pycache__/qad_offset_maptool.cpython-37.pyc
cmd/__pycache__/qad_options_cmd.cpython-37.pyc
cmd/__pycache__/qad_pedit_cmd.cpython-37.pyc
cmd/__pycache__/qad_pedit_maptool.cpython-37.pyc
cmd/__pycache__/qad_pline_cmd.cpython-37.pyc
cmd/__pycache__/qad_polygon_cmd.cpython-37.pyc
cmd/__pycache__/qad_polygon_maptool.cpython-37.pyc
cmd/__pycache__/qad_rectangle_cmd.cpython-37.pyc
cmd/__pycache__/qad_rotate_cmd.cpython-37.pyc
cmd/__pycache__/qad_scale_cmd.cpython-37.pyc
cmd/__pycache__/qad_setcurrlayerbygraph_cmd.cpython-37.pyc
cmd/__pycache__/qad_setvar_cmd.cpython-37.pyc
cmd/__pycache__/qad_ssget_cmd.cpython-37.pyc
cmd/__pycache__/qad_stretch_cmd.cpython-37.pyc
cmd/__pycache__/qad_stretch_maptool.cpython-37.pyc
cmd/__pycache__/qad_undoredo_cmd.cpython-37.pyc
cmd/__pycache__/qad_vsetup_cmd.cpython-37.pyc
cmd/__pycache__/qad_lvdb_cmd.cpython-37.pyc
.vscode/settings.json
.vscode/settings.json
